.container {
  font-family: Noto Serif;
}

  .container:after {
    display: block;
    clear: both;
  }

.mobile-cover {
  display: none;
}

a  {
  text-decoration: none;
  color: white;
  font-size: 40px;
}
a:hover {
  color: #AFA175;
}

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 24px;
  transition: color 0.35s ease;
  text-decoration: none;
}
.menu-left a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  
}
.menu-left a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;

}
.menu-left a:hover:before {
  width: 100%;
}
.menu-left a:hover:after {
  width: 100%;
}

.back {
  position: absolute;
  padding: 32px;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}


header nav ul {
  list-style: none;
  margin: 0;
}

header nav ul li {
  float: none;
  margin-left: 0;
  text-align: left;
}


.hide-nav {
  transform: translateY(-120% !important);
  -webkit-transform: translateY(-120%) !important;
}

ul.menu-left {
  display: block;
  max-height: 0;
  overflow: hidden;
  z-index: 10;
}

ul.menu-left:before {
  content: "";
  display: table;
  clear: both;
}
ul.menu-left.collapse {
   max-height: 100% !important;
   padding-bottom: 2000px;
    background-color: #0E2235;
    position: absolute;
    right: 0;
    z-index: 20;
    width: 500px;
    box-shadow: -12px 12px 56px rgba(14, 34, 53, 0.5);
}

.menu_btn {
  position: absolute;
  right: 0;
  z-index: 30;
}

.nav-toggle {
  position: absolute;
  display: block; 
  background-color: transparent;
  right: 0;
  height: 38px;
  width: 38px;
  cursor: pointer;
  padding: 80px 82px;
  z-index: 40;
}

.nav-toggle.open span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}
.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-toggle.open span:last-child {
  transform: rotate(-45deg) translate(8.8px, -8.8px);
}

.nav-toggle span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 8px;
  background-color: #AFA175;
  transition: all 0.25s;
}



.cover {
  position: relative;
  padding: 92px 164px;

}


.project_title {
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 0 0 56px;
 gap: 30px;
 width: 1100px;
 margin: auto;
}

.title {
  font-family: Noto Serif;
  font-size: 92px;
  color: #AFA175;
}

.subtitle {
  font-family: Noto Serif;
  font-size: 72px;
  color: #AFA175;
  text-align: center;
}

.page_icon {
  width: 180px;
}


.page_content {
 position: relative;
 max-width: 1440px;
justify-content: center;
margin: auto;
 }


.step_value {
 color: #AFA175;
 font-family: Noto Serif;
 font-size: 72px;
 text-align: center;

}

.step {
  padding: 0 0 0 164px;
}


.owl-theme .owl-nav [class*='owl-'] {
 background: #AFA175;
}



.owl-carousel {
  position: relative;
  margin-top: 30px;
}

.owl-dots {
  visibility: hidden;
}

.owl-nav {
  position: absolute;
  top: -60px;
  left: 10px;
}

.uk-card {
  background: 0;
} 


.owl-dots {
  margin-top: 30px;
}

.owl-next {
  background: #AFA175;
}


.footer {
  padding-top: 92px;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-align: center;
  padding: 0 164px 56px;
  justify-content: center;
}

.contact_text {
  font-family: Noto Serif;
  font-size: 40px;
  color: white;
  padding: 24px 0;
}

.value_contact {
  font-family: Geometria;
  font-weight: 300;
  font-size: 20px;
  color: white;
}
.contact_logo {
  display: block;
  text-align: center;
  padding-bottom: 56px;
  }

  .adress {
    font-family: Geometria;
    font-weight: 300;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-bottom: 56px;
      }


@media screen and (max-width: 430px) {

.header {
  height: 15%;
}

img {
  box-sizing: unset;
}

a {
  text-decoration: none;
  color: white;
  font-size: 32px;
}

.menu_btn {
  height: 124px;
}

.nav-toggle {
  padding: 44px;
}

ul.menu-left.collapse {
  left: 0;
  background-position: right;
  background-position-y: 90px;
}

.cover {
  padding: 124px 15px 0;
  display: none;
}

.mobile-cover {
  display: block;
}


.page_icon {
  padding: 200px 112px;
}

.project_title {
 justify-content: center;
}


.title {
  display: none;
}

.subtitle {
  font-size: 40px;
 } 


.step {
  padding: 0 0 0 15px;
}

.step_value {
  font-size: 32px;
}

.uk-section {
  padding-top: 0;
}

.owl-nav {
  display: none;
}


 .contacts {
    flex-direction: column;
    padding: 0 0 56px;
  }